/* .responsiveTable thead {
  display: table-header-group;
} */
.responsiveTable th {
  padding: 8px;
  text-align: left;
  /* vertical-align: middle; */
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  /* border: 2px solid black; */
  display: flex;
  align-self: stretch;
  flex: 1 0 0;
  align-items: center;
}

.pivoted {
  padding: 16px 8px;
  font-size: 0.75rem;
  /* border: 2px solid black; */
  display: flex;
  flex: 1 0 0;
  align-items: center;
}
.highcharts-axis-title {
  display: none;
}
.highcharts-container {
 top: -6.4px;
}
.highcharts-root {
  height: 35px;
}
