/* .responsiveTable thead {
  display: table-header-group;
} */
.responsiveTable th {
  padding: 8px;
  text-align: left;
 
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
 
  display: flex;
  align-self: stretch;
  flex: 1 0 0;
  align-items: center;
}

.pivoted {
  padding: 16px 8px;
  font-size: 0.75rem;

  display: flex;
  flex: 1 0 0;
  align-items: center;
}
.highcharts-axis-title {
  display: none;
}
/* .highcharts-container {
 top: -6.4px;
} */
/* .highcharts-root {
  height: 35px;
} */
@media screen  and  (max-width: 477px){
  .pivoted {
    height: 80px;
    cursor: pointer;

  }
}
.highcharts-background {
  fill: transparent;
}
/* .highcharts-root {
  height: 35px;
} */

.highcharts-container {
  top: -6.4px;
}
.pivoted {
  cursor: pointer;
}
